* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tools {
    margin-top: 10vh;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    font-style: oblique;
    flex-wrap: wrap;
    display: flex;
}

@media screen and (max-width= 920px){
    .tools{
        align-items: center;
    }
}


button {
    background-color: #000000;
    width: 120px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: large;
    border-radius: 20px;
}

button:active {
    background-color: #7a7a7a;
    width: 120px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-size: large;
}

.typhoon:hover{
    transform: scale(1.2px);
}

.subtext {
    text-align: start;
    font-size: large;
    margin-top: 50px;
    background-color: silver;
    background-clip: content-box;
    width: 25vw;
    border-style:groove;
}
.subtext ul{
        list-style-type: none;
      
}

